.productTitle {
  position: relative;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #895e40;
  font-weight: 600;
  font-size: 2.7rem;
  text-align: center;
}

.productTitle:after {
  content: "";
  position: absolute;
  background-color: rgb(80, 80, 82);
  width: 12%;
  height: 4px;
  bottom: -10px;
  left: 44%;
}
